src/studio/src/designer/DataModeling.Tests/_TestData/Failing/hmrhf__5660-34542.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:seres="http://seres.no/xsd/forvaltningsdata" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute name="XSLT-skriptnavn" fixed="SERES_XSD_GEN" />
      <xsd:attribute name="XSD-generatorversjon" fixed="2.0.23" />
      <xsd:attribute name="XSLT-prosessor" fixed="SAXON versjon 9.1.0.7" />
      <xsd:attribute name="generert" fixed="2020-05-07T12:38:26.284+02:00" />
      <xsd:attribute name="navneromprefix" fixed="http://seres.no/xsd" />
      <xsd:attribute name="namespace" fixed="http://seres.no/xsd/Kursdomene/HelseMidt_Hending_M/2020" />
      <xsd:attribute name="meldingsnavn" fixed="melding" />
      <xsd:attribute name="domenenavn" fixed="Kursdomene" />
      <xsd:attribute name="modellnavn" fixed="HelseMidt_Hending_M" />
      <xsd:attribute name="metamodellversjon" fixed="1.2" />
      <xsd:attribute name="guid" fixed="true" />
      <xsd:attribute name="orid" fixed="false" />
      <xsd:attribute name="nillable" fixed="true" />
      <xsd:attribute name="tillat-gjenbruk" fixed="true" />
      <xsd:attribute name="elementtype" fixed="true" />
      <xsd:attribute name="forvaltningsdata" fixed="true" />
      <xsd:attribute name="forvaltningsdata-navnerom" fixed="http://seres.no/xsd/forvaltningsdata" />
      <xsd:attribute name="saernorske-bokstaver-i-navn" fixed="false" />
      <xsd:attribute name="ft_guid_som_attributt" fixed="false" />
      <xsd:attribute name="sem-ref" fixed="false" />
      <xsd:attribute name="kodebibliotek" fixed="false" />
      <xsd:attribute name="spraak" fixed="" />
      <xsd:attribute name="XSD-variant" fixed="Altinn 1.3.2" />
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="melding" type="HelseMidt_Hending_M" />
  <xsd:complexType name="HelseMidt_Hending_M" seres:elementtype="Meldingsmodell" seres:guid="http://seres.no/guid/Kursdomene/Meldingsmodell/HelseMidt_M/768814">
    <xsd:sequence>
      <xsd:element name="Innhold" type="Innhold" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/Kursdomene/Meldingsdel/Innhold/768819" />
    </xsd:sequence>
    <xsd:attribute name="dataFormatProvider" type="xsd:string" use="required" fixed="SERES" />
    <xsd:attribute name="dataFormatId" type="xsd:string" use="required" fixed="5660" />
    <xsd:attribute name="dataFormatVersion" type="xsd:string" use="required" fixed="34542" />
    <xsd:anyAttribute />
  </xsd:complexType>
  <xsd:complexType name="Innhold" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/Kursdomene/Meldingsdel/Innhold/768819">
    <xsd:sequence>
      <xsd:element name="generelt" type="Generelt" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Kursdomene/Relasjonsegenskap/generelt/770817" />
      <xsd:element name="innmeldar" type="Innmeldar" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Kursdomene/Relasjonsegenskap/innmeldar/773433" />
      <xsd:element name="informasjonOmHending" type="InformasjonOmHending" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Kursdomene/Relasjonsegenskap/informasjonOmHending/774531" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Generelt" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Kursdomene/Dataobjekttype/Generelt/770816">
    <xsd:sequence>
      <xsd:element name="brotPaaAnnaDelavtale" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/brotPåAnnaDelavtale/773295" />
      <xsd:element name="annaAndreUoenskaHendinger" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/AndreUønskaHendinger/773294" />
      <xsd:element name="faktiskKonsekvens" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/faktiskKonsekvens/773431" />
      <xsd:element name="moglegKonsekvens" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/moglegKonsekvens/773430" />
      <xsd:element name="forslagTilForbetring" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/forslagTilForbetring/773429" />
      <xsd:element name="brotPaaDelavtale5a-1" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/brotPåDelavtale5a-1/773516" />
      <xsd:element name="brotPaaDelavtale5a-2" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/brotPåDelavtale5a-2/773515" />
      <xsd:element name="brotPaaDelavtale5a-3" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/brotPåDelavtale5a-3/773514" />
      <xsd:element name="brotPaaDelavtale5a-4" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/brotPåDelavtale5a-4/773513" />
      <xsd:element name="brotPaaDelavtale5a-5" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/brotPåDelavtale5a-5/773512" />
      <xsd:element name="brotPaaDelavtale5a-6" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/brotPåDelavtale5a-6/773511" />
      <xsd:element name="brotPaaDelavtale5a-7" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/brotPåDelavtale5a-7/773510" />
      <xsd:element name="brotPaaDelavtale5a-8" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/brotPåDelavtale5a-8/773509" />
      <xsd:element name="brotPaaDelavtale5a-9" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/brotPåDelavtale5a-9/773508" />
      <xsd:element name="skjemadataSendesTilInnboks" type="Tall" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/skjemadataSendesTilInnboks/775542" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Innmeldar" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Kursdomene/Dataobjekttype/InfoOmInnsender/768805">
    <xsd:sequence>
      <xsd:element name="navnPaaLeiar" type="Navn" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/innsendersFødselsnummer/768804" />
      <xsd:element name="meldtAvNavn" type="Navn" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/innsendersFornavn/768803" />
      <xsd:element name="fraaKommune" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/innsendersEtternavn/768802" />
      <xsd:element name="klinikkOgAvdelingForHending" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/innsendersTelefonnummer/771503" />
      <xsd:element name="sengepostPasienteining" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/sengepostPasienteining/773292" />
      <xsd:element name="pasientInitialer" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/pasientInitialer/773289" />
      <xsd:element name="pasientFoedselsnummer" type="Foedselsnummer" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/pasientFødselsnummer/773288" />
      <xsd:element name="kortSkildringAvHendinga" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/kortSkildring/773287" />
      <xsd:element name="meldtAvFoedselsnummer" type="Foedselsnummer" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/meldtAvFødselsnummer/773293" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformasjonOmHending" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Kursdomene/Dataobjekttype/InformasjonOmHending/774530">
    <xsd:sequence>
      <xsd:element name="datoForHending" type="Dato" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/datoForHending/774529" />
      <xsd:element name="behandlingstad_Kristiansund" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/behandlingstad_Kristiansund/774528" />
      <xsd:element name="behandlingstad_Molde" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/behandlingstad_Molde/774527" />
      <xsd:element name="behandlingstad_Volda" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/behandlingstad_Volda/774526" />
      <xsd:element name="behandlingstad_AAlesund" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/behandlingstad_Ålesund/774525" />
      <xsd:element name="behandlingstad_Avdeling" type="Tekst" nillable="true" minOccurs="0" maxOccurs="unbounded" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/behandlingstad_Avdeling/774524" />
      <xsd:element name="sykehusForBehandling_AndreInstitusjonar" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/sykehusForBehandling_AndreInstitusjonar/774523" />
      <xsd:element name="sykehusForBehandling_AndreInstitusjonarBeskrivelse" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/sykehusForBehandling_AndreInstitusjonarBeskrivelse/774522" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Tekst" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/Kursdomene/Dataenkeltype/Tekst/4008">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="Alternativ" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/Kursdomene/Dataenkeltype/Alternativ/4087">
    <xsd:restriction base="xsd:boolean" />
  </xsd:simpleType>
  <xsd:simpleType name="Tall" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/Kursdomene/Dataenkeltype/Tall/4010">
    <xsd:restriction base="xsd:integer" />
  </xsd:simpleType>
  <xsd:simpleType name="Navn" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/Kursdomene/Dataenkeltype/Navn/4007">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="Foedselsnummer" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/Kursdomene/Dataenkeltype/Fødselsnummer/4009">
    <xsd:restriction base="Foedselsnummer_RestriksjonFoedselsnummer" />
  </xsd:simpleType>
  <xsd:simpleType name="Foedselsnummer_RestriksjonFoedselsnummer" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/Kursdomene/Tegnrestriksjon/RestriksjonFødselsnummer/1185558">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{11}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Dato" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/Kursdomene/Dataenkeltype/Dato/768816">
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
</xsd:schema>