src/studio/src/designer/DataModeling.Tests/_TestData/Failing/hmrhf__5460-34460.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:seres="http://seres.no/xsd/forvaltningsdata" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute name="XSLT-skriptnavn" fixed="SERES_XSD_GEN" />
      <xsd:attribute name="XSD-generatorversjon" fixed="2.0.23" />
      <xsd:attribute name="XSLT-prosessor" fixed="SAXON versjon 9.1.0.7" />
      <xsd:attribute name="generert" fixed="2020-02-17T13:58:30.647+01:00" />
      <xsd:attribute name="navneromprefix" fixed="http://seres.no/xsd" />
      <xsd:attribute name="namespace" fixed="http://seres.no/xsd/Kursdomene/HelseMidt_M/2020" />
      <xsd:attribute name="meldingsnavn" fixed="melding" />
      <xsd:attribute name="domenenavn" fixed="Kursdomene" />
      <xsd:attribute name="modellnavn" fixed="HelseMidt_M" />
      <xsd:attribute name="metamodellversjon" fixed="1.2" />
      <xsd:attribute name="guid" fixed="true" />
      <xsd:attribute name="orid" fixed="false" />
      <xsd:attribute name="nillable" fixed="true" />
      <xsd:attribute name="tillat-gjenbruk" fixed="true" />
      <xsd:attribute name="elementtype" fixed="true" />
      <xsd:attribute name="forvaltningsdata" fixed="true" />
      <xsd:attribute name="forvaltningsdata-navnerom" fixed="http://seres.no/xsd/forvaltningsdata" />
      <xsd:attribute name="saernorske-bokstaver-i-navn" fixed="false" />
      <xsd:attribute name="ft_guid_som_attributt" fixed="false" />
      <xsd:attribute name="sem-ref" fixed="false" />
      <xsd:attribute name="kodebibliotek" fixed="false" />
      <xsd:attribute name="spraak" fixed="" />
      <xsd:attribute name="XSD-variant" fixed="Altinn 1.3.2" />
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="melding" type="HelseMidt_M" />
  <xsd:complexType name="HelseMidt_M" seres:elementtype="Meldingsmodell" seres:guid="http://seres.no/guid/Kursdomene/Meldingsmodell/HelseMidt_M/768814">
    <xsd:sequence>
      <xsd:element name="Innsender" type="Innsender" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/Kursdomene/Meldingsdel/Innsender/768821" />
      <xsd:element name="Innhold" type="Innhold" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/Kursdomene/Meldingsdel/Innhold/768819" />
    </xsd:sequence>
    <xsd:attribute name="dataFormatProvider" type="xsd:string" use="required" fixed="SERES" />
    <xsd:attribute name="dataFormatId" type="xsd:string" use="required" fixed="5460" />
    <xsd:attribute name="dataFormatVersion" type="xsd:string" use="required" fixed="34460" />
    <xsd:anyAttribute />
  </xsd:complexType>
  <xsd:complexType name="Innsender" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/Kursdomene/Meldingsdel/Innsender/768821">
    <xsd:sequence>
      <xsd:element name="infoOmInnsender" type="InfoOmInnsender" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Kursdomene/Relasjonsegenskap/infoOmInnsender/768820" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InfoOmInnsender" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Kursdomene/Dataobjekttype/InfoOmInnsender/768805">
    <xsd:sequence>
      <xsd:element name="innsendersFoedselsnummer" type="Foedselsnummer" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/innsendersFødselsnummer/768804" />
      <xsd:element name="innsendersFornavn" type="Navn" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/innsendersFornavn/768803" />
      <xsd:element name="innsendersEtternavn" type="Navn" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/innsendersEtternavn/768802" />
      <xsd:element name="innsendersAdresse" type="Adresse" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/innsendersAdresse/771504" />
      <xsd:element name="innsendersTelefonnummer" type="Telefonnummer" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/innsendersTelefonnummer/771503" />
      <xsd:element name="innsendersEpost" type="EPost" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/innsendersEpost/771502" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Adresse" seres:elementtype="Datakomplekstype" seres:guid="http://seres.no/guid/Kursdomene/Datakomplekstype/Adresse/4014">
    <xsd:sequence>
      <xsd:element name="adresse" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/Kursdomene/DataTypeegenskap/adresse/4013" />
      <xsd:element name="postnummer" type="Postnummer" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/Kursdomene/DataTypeegenskap/postnummer/4012" />
      <xsd:element name="poststed" type="Poststed" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/Kursdomene/DataTypeegenskap/poststed/4011" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Innhold" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/Kursdomene/Meldingsdel/Innhold/768819">
    <xsd:sequence>
      <xsd:element name="hendelse" type="Hendelse" nillable="true" minOccurs="0" maxOccurs="5" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Kursdomene/Relasjonsegenskap/hendelse/768818" />
      <xsd:element name="pasient" type="Pasient" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Kursdomene/Relasjonsegenskap/pasient/768817" />
      <xsd:element name="generelt" type="Generelt" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/Kursdomene/Relasjonsegenskap/generelt/770817" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Hendelse" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Kursdomene/Dataobjekttype/Hendelse/768793">
    <xsd:sequence>
      <xsd:element name="sykehusForBehandling_Kristiansund" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/sykehusForBehandling/768792" />
      <xsd:element name="klagenGjelder" type="Tekst" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/klagenGjelder/768790" />
      <xsd:element name="beskrivelseAvHendelse" type="Tekst" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/beskrivelseAvHendelse/768789" />
      <xsd:element name="innspillTilForbedring" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/innspillTilForbedring/768788" />
      <xsd:element name="datoForHendelse" type="Dato" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/datoForHendelse/768787" />
      <xsd:element name="sykehusForBehandling_Molde" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/sykehusForBehandling_Molde/769593" />
      <xsd:element name="sykehusForBehandling_Volda" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/sykehusForBehandling_Volda/769592" />
      <xsd:element name="sykehusForBehandling_AAlesund" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/sykehusForBehandling_Ålesund/769591" />
      <xsd:element name="minstEtSykehusErValgt" type="Alternativ" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/MinstEtSykehusErValgt/769594" />
      <xsd:element name="sykehusAvdeling" type="Tekst" nillable="true" minOccurs="0" maxOccurs="unbounded" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/sykehusAvdeling_Ålesund/769906" />
      <xsd:element name="beskrivelseNaarDetteSkjedde" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/beskrivelseNårDetteSkjedde/770760" />
      <xsd:element name="sykehusForBehandling_AndreInstitusjonarBeskrivelse" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/sykehusForBehandling_AndreInstitusjonarBeskrivelse/770759" />
      <xsd:element name="sykehusForBehandling_AndreInstitusjonar" type="Alternativ" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/sykehusForBehandling_AndreInstitusjonar/770758" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Pasient" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Kursdomene/Dataobjekttype/Pasient/768797">
    <xsd:sequence>
      <xsd:element name="pasientFoedselsnummer" type="Tall" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/pasientFødselsnummer/768796" />
      <xsd:element name="pasientEtternavn" type="Navn" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/pasientEtternavn/768795" />
      <xsd:element name="pasientFornavn" type="Navn" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/pasientFornavn/768794" />
      <xsd:element name="klagerPaaVegneAv" type="KlagerPaaVegneAv" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/klagerPåVegneAv/768822" />
      <xsd:element name="pasientAdresse" type="Adresse" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/pasientAdresse/771501" />
      <xsd:element name="pasientEpost" type="EPost" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/pasientEpost/771500" />
      <xsd:element name="pasientTelefonnummer" type="Telefonnummer" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/pasientTelefonnummer/771499" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Generelt" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/Kursdomene/Dataobjekttype/Generelt/770816">
    <xsd:sequence>
      <xsd:element name="sendesTilInnboks" type="Tall" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/Kursdomene/Dataegenskap/sendesTilInnboks/770815" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Foedselsnummer" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/Kursdomene/Dataenkeltype/Fødselsnummer/4009">
    <xsd:restriction base="Foedselsnummer_RestriksjonFoedselsnummer" />
  </xsd:simpleType>
  <xsd:simpleType name="Foedselsnummer_RestriksjonFoedselsnummer" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/Kursdomene/Tegnrestriksjon/RestriksjonFødselsnummer/1185558">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{11}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Navn" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/Kursdomene/Dataenkeltype/Navn/4007">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/Kursdomene/Dataenkeltype/Tekst/4008">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="Postnummer" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/Kursdomene/Dataenkeltype/Postnummer/4006">
    <xsd:restriction base="Postnummer_RestriksjonPostnummer" />
  </xsd:simpleType>
  <xsd:simpleType name="Postnummer_RestriksjonPostnummer" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/Kursdomene/Tegnrestriksjon/RestriksjonPostnummer/1186149">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{4}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Poststed" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/Kursdomene/Dataenkeltype/Poststed/4001">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="Telefonnummer" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/Kursdomene/Dataenkeltype/Telefonnummer/4002">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="EPost" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/Kursdomene/Dataenkeltype/EPost/4003">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="Alternativ" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/Kursdomene/Dataenkeltype/Alternativ/4087">
    <xsd:restriction base="xsd:boolean" />
  </xsd:simpleType>
  <xsd:simpleType name="Dato" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/Kursdomene/Dataenkeltype/Dato/768816">
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="Tall" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/Kursdomene/Dataenkeltype/Tall/4010">
    <xsd:restriction base="xsd:integer" />
  </xsd:simpleType>
  <xsd:simpleType name="KlagerPaaVegneAv" seres:elementtype="Datakodeliste" seres:guid="http://seres.no/guid/Kursdomene/Datakodeliste/KlagerPåVegneAv/768812">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Meg sjølv" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Kursdomene/Datakodeelement/megSelv/768811" />
      <xsd:enumeration value="Eige barn under 16 år" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Kursdomene/Datakodeelement/egetBarnUnder12År/768810" />
      <xsd:enumeration value="Person eg er verge for" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Kursdomene/Datakodeelement/personJegErVergeFor/768809" />
      <xsd:enumeration value="Annan person" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/Kursdomene/Datakodeelement/annenPerson/768808" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>