src/studio/src/designer/DataModeling.Tests/_TestData/Failing/ssb__4949-43795.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:seres="http://seres.no/xsd/forvaltningsdata" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute name="XSLT-skriptnavn" fixed="SERES_XSD_GEN" />
      <xsd:attribute name="XSD-generatorversjon" fixed="2.0.23" />
      <xsd:attribute name="XSLT-prosessor" fixed="SAXON versjon 9.1.0.7" />
      <xsd:attribute name="generert" fixed="2018-11-27T12:06:16.189+01:00" />
      <xsd:attribute name="navneromprefix" fixed="http://seres.no/xsd" />
      <xsd:attribute name="namespace" fixed="http://seres.no/xsd/StatistiskSentralbyraa/RA-0519_M/2018" />
      <xsd:attribute name="meldingsnavn" fixed="melding" />
      <xsd:attribute name="domenenavn" fixed="StatistiskSentralbyraa" />
      <xsd:attribute name="modellnavn" fixed="RA-0519_M" />
      <xsd:attribute name="metamodellversjon" fixed="1.2" />
      <xsd:attribute name="guid" fixed="true" />
      <xsd:attribute name="orid" fixed="false" />
      <xsd:attribute name="nillable" fixed="true" />
      <xsd:attribute name="tillat-gjenbruk" fixed="true" />
      <xsd:attribute name="elementtype" fixed="true" />
      <xsd:attribute name="forvaltningsdata" fixed="true" />
      <xsd:attribute name="forvaltningsdata-navnerom" fixed="http://seres.no/xsd/forvaltningsdata" />
      <xsd:attribute name="saernorske-bokstaver-i-navn" fixed="false" />
      <xsd:attribute name="ft_guid_som_attributt" fixed="false" />
      <xsd:attribute name="sem-ref" fixed="false" />
      <xsd:attribute name="kodebibliotek" fixed="false" />
      <xsd:attribute name="spraak" fixed="" />
      <xsd:attribute name="XSD-variant" fixed="Altinn 1.3.2" />
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="melding" type="RA-0519_M" />
  <xsd:complexType name="RA-0519_M" seres:elementtype="Meldingsmodell" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsmodell/RA-0519_M/612381">
    <xsd:sequence>
      <xsd:element name="InternInformasjon" type="InternInformasjon" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/InternInformasjon/479039" />
      <xsd:element name="KontaktpersonOgKommentarfelt" type="KontaktpersonOgKommentarfelt" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/KontaktpersonOgKommentarfelt/487843" />
      <xsd:element name="ForetakOgVirksomhetsopplysninger" type="ForetakOgVirksomhetsopplysninger" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/ForetakOgVirksomhetsopplysninger/492169" />
      <xsd:element name="StatusVirksomhetMedDriftsperiode" type="StatusVirksomhetMedDriftsperiode" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/StatusVirksomhetMedDriftsperiode/526334" />
      <xsd:element name="Oppgavebyrde" type="Oppgavebyrde" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/Oppgavebyrde/492705" />
      <xsd:element name="Skjemadata" type="Skjemadata" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/Skjemadata/612344" />
    </xsd:sequence>
    <xsd:attribute name="dataFormatProvider" type="xsd:string" use="required" fixed="SERES" />
    <xsd:attribute name="dataFormatId" type="xsd:string" use="required" fixed="4949" />
    <xsd:attribute name="dataFormatVersion" type="xsd:string" use="required" fixed="43795" />
    <xsd:anyAttribute />
  </xsd:complexType>
  <xsd:complexType name="InternInformasjon" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/InternInformasjon/479039">
    <xsd:sequence>
      <xsd:element name="periodeFritekst" type="Tekst_50" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/periode/479038" />
      <xsd:element name="rapportPeriode" type="Tidsrom" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/rapportPeriode/479037" />
      <xsd:element name="raNummer" type="Tekst" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/raNummer/479036" />
      <xsd:element name="delRegNummer" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/delRegNummer/479035" />
      <xsd:element name="identnummerEnhet" type="Tekst_30" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/enhetsIdentNummer/492113" />
      <xsd:element name="sendtFraSluttbrukersystem" type="Tekst_09" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/sendtFraSluttbrukersystem/555500" />
      <xsd:element name="statistiskEnhet" type="StatistiskEnhet" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/statistiskEnhet/569286" />
      <xsd:element name="skjemaidentifikasjon" type="Skjemaidentifikasjon" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/skjemaidentifikasjon/618243" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tidsrom" seres:elementtype="Datakomplekstype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakomplekstype/Tidsrom/476091">
    <xsd:sequence>
      <xsd:element name="fomDato" type="Dato" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/DataTypeegenskap/fomDato/476090" />
      <xsd:element name="tomDato" type="Dato" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/DataTypeegenskap/tomDato/476089" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StatistiskEnhet" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/StatistiskEnhet/569285">
    <xsd:sequence>
      <xsd:element name="enhetsident" type="Tekst_50" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/enhetsident/569284" />
      <xsd:element name="enhetstype" type="StatistiskeEnhetstyper" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/enhetstype/569283" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Skjemaidentifikasjon" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/Skjemaidentifikasjon/618242">
    <xsd:sequence>
      <xsd:element name="periodenummer" type="Tekst_02" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/periodenummer/618241" />
      <xsd:element name="periodetype" type="Periodetype" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/periodetype/618240" />
      <xsd:element name="periodeAAr" type="Tekst_04" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/periodeÅr/618239" />
      <xsd:element name="undersoekelsesnummer" type="Tekst_30" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/undersøkelsesnummer/618238" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KontaktpersonOgKommentarfelt" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/KontaktpersonOgKommentarfelt/487843">
    <xsd:sequence>
      <xsd:element name="kommentar" type="Kommentar" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/kommentar/487842" />
      <xsd:element name="kontaktperson" type="Kontaktperson" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/kontaktperson/487841" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kontaktperson" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/Kontaktperson/476088">
    <xsd:sequence>
      <xsd:element name="epostadresse" type="Epost" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/epostadresse/476085" />
      <xsd:element name="navn" type="NavnSomToken" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/navn/489943" />
      <xsd:element name="telefonSFU" type="Tekst_25" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/telefonSFU/566757" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ForetakOgVirksomhetsopplysninger" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/ForetakOgVirksomhetsopplysninger/492169">
    <xsd:sequence>
      <xsd:element name="organisasjonsnummerKontekst" type="Organisasjonsnummer" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/organisasjonsnummerKontekst/492166" />
      <xsd:element name="foretak" type="Foretak" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/foretak/492168" />
      <xsd:element name="virksomhet" type="Virksomhet" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/virksomhet/492167" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Foretak" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/Foretak/492157">
    <xsd:sequence>
      <xsd:element name="organisasjonsnummerForetak" type="Organisasjonsnummer" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/organisasjonsnummerForetak/492156" />
      <xsd:element name="navnForetak" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/navnForetak/492155" />
      <xsd:element name="adresseForetak" type="Besoeksadresse" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/postadresseForetak/492453" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Besoeksadresse" seres:elementtype="Datakomplekstype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakomplekstype/Besøksadresse/486194">
    <xsd:sequence>
      <xsd:element name="gateadresse" type="Tekst200" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/DataTypeegenskap/gateadresse/486193" />
      <xsd:element name="postnummer" type="Tekst_04" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/DataTypeegenskap/postnummer/486192" />
      <xsd:element name="poststed" type="Tekst100" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/DataTypeegenskap/poststed/486191" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Virksomhet" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/Virksomhet/492153">
    <xsd:sequence>
      <xsd:element name="organisasjonsnummerVirksomhet" type="Organisasjonsnummer" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/organisasjonsnummerVirksomhet/492152" />
      <xsd:element name="navnVirksomhet" type="NavnString" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/navnVirksomhet/492151" />
      <xsd:element name="adresseVirksomhet" type="Besoeksadresse" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/forretningsadresseVirksomhet/492452" />
      <xsd:element name="avdeling" type="NavnString" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/avdeling/492150" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StatusVirksomhetMedDriftsperiode" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/StatusVirksomhetMedDriftsperiode/526334">
    <xsd:sequence>
      <xsd:element name="driftsstatusPeriode" type="DriftsstatusPeriode" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/driftsstatusPeriode/526333" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Oppgavebyrde" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/Oppgavebyrde/492705">
    <xsd:sequence>
      <xsd:element name="visOppgavebyrdeJaNeiPrefill" type="SvaralternativJaNei" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/visOppgavebyrdeJaNeiPrefill/492910" />
      <xsd:element name="antallPersonerHjelp" type="AntallMedNull" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/antallPersonerHjelp/492704" />
      <xsd:element name="fikkHjelpAvAndre" type="SvaralternativJaNei" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/fikkHjelpAvAndre/492703" />
      <xsd:element name="harSamletInformasjon" type="SvaralternativJaNei" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/harSamletInformasjon/492702" />
      <xsd:element name="tidsbrukSamleInformasjon" type="Tidsbruk" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/tidsbrukSamleInformasjon/492701" />
      <xsd:element name="tidsbrukSelveSkjemautfyllingen" type="Tidsbruk" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/tidsbrukSelveSkjemautfyllingen/492700" />
      <xsd:element name="tidsbrukTotalHjelpAvAndre" type="Tidsbruk" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/tidsbrukTotalHjelpAvAndre/492699" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tidsbruk" seres:elementtype="Datakomplekstype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakomplekstype/Tidsbruk/487647">
    <xsd:sequence>
      <xsd:element name="AntallTimer" type="AntallMedNull" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/DataTypeegenskap/AntallTimer/487646" />
      <xsd:element name="AntallMinutter" type="AntallMinutter" nillable="true" minOccurs="0" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/DataTypeegenskap/AntallMinutter/487645" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Skjemadata" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/Skjemadata/612344">
    <xsd:sequence>
      <xsd:element name="vareTabell" type="Varer" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/vareTjeneste/612343" />
      <xsd:element name="nyIUtvalget" type="Tekst_01" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/nyIUtvalget/663383" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Varer" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/Varer/621069">
    <xsd:sequence>
      <xsd:element name="vareTjeneste" maxOccurs="unbounded" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/vareTjeneste/621068">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="Vare">
              <xsd:anyAttribute />
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vare" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/Vare/612375">
    <xsd:sequence>
      <xsd:element name="prefill" type="Prefill" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/prefill/612374" />
      <xsd:element name="marked" type="Marked" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/marked/612373" />
      <xsd:element name="nyVare" type="NyVare" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/nyVare/612372" />
      <xsd:element name="eksisterendeVare" type="OpplysningVare" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/infoVare/612371" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Prefill" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/Prefill/612369">
    <xsd:sequence>
      <xsd:element name="varenr" type="Heltall_8_siffer_ikke_neg" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/varenr/612368" />
      <xsd:element name="varetype" type="Tekst_50" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/varetype/612367" />
      <xsd:element name="beskrivelse" type="Tekst_150" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/beskrivelse/612366" />
      <xsd:element name="pris" type="Tekst_20" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/pris/612365" />
      <xsd:element name="enhet" type="Tekst100" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/enhet/612420" />
      <xsd:element name="prisNumerisk" type="Desimaltall_12_hel_2_desimal_ikke_neg" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/prisNumerisk/663384" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Marked" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/Marked/612364">
    <xsd:sequence>
      <xsd:element name="aarsakEndring" type="AArsakEndring" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/årsakEndring/612363" />
      <xsd:element name="aarsakUtgaatt" type="AArsakUtgaatt" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/årsakUtgått/612362" />
      <xsd:element name="selgerVirksomhetenVaren" type="SvaralternativJaNei" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/selgerVirksomhetenVaren/612361" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AArsakEndring" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/ÅrsakEndring/612360">
    <xsd:sequence>
      <xsd:element name="endringMengdeKvalitet" type="CheckboksMedOppfoelgingstekst" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/EndringMengdeKvalitet/612359" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CheckboksMedOppfoelgingstekst" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/CheckboksMedOppfølgingstekst/594982">
    <xsd:sequence>
      <xsd:element name="checkboxSpoersmaal" type="Checkboks01" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/checkboxSpørsmål/594981" />
      <xsd:element name="oppfoelgingsspoersmaal" type="OppfoelgingsspoersmaalTekst" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/oppfølgingsspørsmål/594980" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OppfoelgingsspoersmaalTekst" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/OppfølgingsspørsmålTekst/594979">
    <xsd:sequence>
      <xsd:element name="tekst" type="Tekst" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/tekst/594978" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AArsakUtgaatt" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/ÅrsakUtgått/612358">
    <xsd:sequence>
      <xsd:element name="utgaatt" type="Utgaatt" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/utgått/612357" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NyVare" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/NyVare/612356">
    <xsd:sequence>
      <xsd:element name="erstatningsvare" type="SvaralternativJaNei" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/erstatningsvare/612355" />
      <xsd:element name="informasjonNyVare" type="InformasjonNyVare" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/informasjonNyVare/612354" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformasjonNyVare" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/InformasjonNyVare/612353">
    <xsd:sequence>
      <xsd:element name="beskrivelseNyVare" type="Tekst_150" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/beskrivelseNyVare/612352" />
      <xsd:element name="marked" type="NyVareMarked" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/marked/612351" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NyVareMarked" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/NyVareMarked/612350">
    <xsd:sequence>
      <xsd:element name="pris" type="Desimaltall_12_hel_2_desimal_ikke_neg" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/pris/612349" />
      <xsd:element name="forrigeKvartal" type="ForrigeKvartal" nillable="true" minOccurs="0" seres:elementtype="Relasjonsegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/forrigeKvartal/612348" />
      <xsd:element name="enhet" type="Tekst_10" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/enhet/612699" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ForrigeKvartal" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/ForrigeKvartal/612347">
    <xsd:sequence>
      <xsd:element name="pris" type="Desimaltall_12_hel_2_desimal_ikke_neg" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/pris/612346" />
      <xsd:element name="ikkeISalg" type="Checkboks" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/ikkeISalg/612345" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OpplysningVare" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/OpplysningVare/612342">
    <xsd:sequence>
      <xsd:element name="pris" type="Desimaltall_12_hel_2_desimal_ikke_neg" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/pris/612341" />
      <xsd:element name="virksomhetensBeskrivelseVare" type="Tekst_150" nillable="true" minOccurs="0" seres:elementtype="Dataegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/virksomhetensBeskrivelseVare/612698" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Tekst_50" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst50/479312">
    <xsd:restriction base="Tekst_50_Tekst_50Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_50_Tekst_50Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst_50Restriksjon/502232">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Dato" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Dato/479008">
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst/476104">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_30" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst_30/492116">
    <xsd:restriction base="Tekst_30_Tekst_30Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_30_Tekst_30Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst_30Restriksjon/502224">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_09" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst_09/566760">
    <xsd:restriction base="Tekst_09_Tekst_09Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_09_Tekst_09Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst_09Restriksjon/566758">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="9" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StatistiskeEnhetstyper" seres:elementtype="Datakodeliste" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeutvalg/StatistiskeEnhetstyper/492035">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="ADRE" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/ADRE/502300" />
      <xsd:enumeration value="BEDR" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/BEDR/502296" />
      <xsd:enumeration value="BOLI" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/BOLI/502295" />
      <xsd:enumeration value="BYGG" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/BYGG/502294" />
      <xsd:enumeration value="FRTK" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/FRTK/502291" />
      <xsd:enumeration value="HUSH" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/HUSH/502289" />
      <xsd:enumeration value="PERS" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/PERS/502283" />
      <xsd:enumeration value="" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/tom/623613" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_02" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst_02/567054">
    <xsd:restriction base="Tekst_02_Tekst_02Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_02_Tekst_02Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst_02Restriksjon/502228">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Periodetype" seres:elementtype="Datakodeliste" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeliste/Periodetype/618237">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AAR" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/Årlig/618236" />
      <xsd:enumeration value="DELT" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/Delt utvalg/618235" />
      <xsd:enumeration value="HALV" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/Halvårlig/618234" />
      <xsd:enumeration value="KVRT" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/Kvartalsvis/618233" />
      <xsd:enumeration value="MND" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/Månedlig/618232" />
      <xsd:enumeration value="TERM" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/Termin_MVA/618231" />
      <xsd:enumeration value="TERT" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/Tertial/618230" />
      <xsd:enumeration value="UKE" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/Ukentlig/618229" />
      <xsd:enumeration value="" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/tom/618257" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_04" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst_04/567053">
    <xsd:restriction base="Tekst_04_Tekst_04Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_04_Tekst_04Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst_04Restriksjon/502229">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Kommentar" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Kommentar/4721">
    <xsd:restriction base="Kommentar_Kommentar2000Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Kommentar_Kommentar2000Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Kommentar2000Restriksjon/502246">
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="2000" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Epost" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Epost/476105">
    <xsd:restriction base="Epost_EPostRestriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Epost_EPostRestriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/EPostRestriksjon/502244">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NavnSomToken" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/NavnSomToken/488179">
    <xsd:restriction base="xsd:token" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_25" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst_25/566761">
    <xsd:restriction base="Tekst_25_Tekst_25Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_25_Tekst_25Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst_25Restriksjon/566759">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="25" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Organisasjonsnummer" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Organisasjonsnummer/476107">
    <xsd:restriction base="Organisasjonsnummer_OrganisasjonsnummerRestriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Organisasjonsnummer_OrganisasjonsnummerRestriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/OrganisasjonsnummerRestriksjon/502234">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="9" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst200" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst200/491779">
    <xsd:restriction base="Tekst200_Tekst200Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst200_Tekst200Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst200Restriksjon/502227">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst100" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst100/479311">
    <xsd:restriction base="Tekst100_Tekst100Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst100_Tekst100Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst100Restriksjon/502231">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NavnString" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Navn/4722">
    <xsd:restriction base="NavnString_NavnRestriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="NavnString_NavnRestriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/NavnRestriksjon/502238">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DriftsstatusPeriode" seres:elementtype="Datakodeliste" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeliste/DriftsstatusPeriode/524891">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="jaDrift" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/jaDrift/524890" />
      <xsd:enumeration value="jaDriftPeriode" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/jaDriftPeriode/524889" />
      <xsd:enumeration value="neiDriftPeriode" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/neiDriftPeriode/524888" />
      <xsd:enumeration value="" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/tom/623610" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SvaralternativJaNei" seres:elementtype="Datakodeliste" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeutvalg/Svaralternativ/13653">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/1/502310" />
      <xsd:enumeration value="2" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/2/502311" />
      <xsd:enumeration value="" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/tom/576715" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AntallMedNull" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/AntallMedNull/477092">
    <xsd:restriction base="AntallMedNull_AntallRestriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="AntallMedNull_AntallRestriksjon" seres:elementtype="Tallrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tallrestriksjon/AntallRestriksjon/502249">
    <xsd:restriction base="xsd:nonNegativeInteger" />
  </xsd:simpleType>
  <xsd:simpleType name="AntallMinutter" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/AntallMinutter/592850">
    <xsd:restriction base="AntallMinutter_AntallMinutterRestriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="AntallMinutter_AntallMinutterRestriksjon" seres:elementtype="Tallrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tallrestriksjon/AntallMinutterRestriksjon/592849">
    <xsd:restriction base="xsd:integer">
      <xsd:totalDigits value="2" />
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="59" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Heltall_8_siffer_ikke_neg" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/PositivtHeltallMedNullMaks8Siffer/494105">
    <xsd:restriction base="Heltall_8_siffer_ikke_neg_Restriksjon_Heltall_8_siffer" />
  </xsd:simpleType>
  <xsd:simpleType name="Heltall_8_siffer_ikke_neg_Restriksjon_Heltall_8_siffer" seres:elementtype="Tallrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tallrestriksjon/HeltallMaks8sifferRestriksjon/501977">
    <xsd:restriction base="xsd:nonNegativeInteger">
      <xsd:totalDigits value="8" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_150" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst_150/613054">
    <xsd:restriction base="Tekst_150_Tekst_150Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_150_Tekst_150Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst_150Restriksjon/613053">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="150" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_20" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst20/479313">
    <xsd:restriction base="Tekst_20_Tekst_20Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_20_Tekst_20Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst_20Restriksjon/502233">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Desimaltall_12_hel_2_desimal_ikke_neg" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Desimaltall_12_hel_2_desimal_ikke_neg/612892">
    <xsd:restriction base="Desimaltall_12_hel_2_desimal_ikke_neg_Restriksjon_Desimaltall_12_hel_2_desimal_ikke_neg" />
  </xsd:simpleType>
  <xsd:simpleType name="Desimaltall_12_hel_2_desimal_ikke_neg_Restriksjon_Desimaltall_12_hel_2_desimal_ikke_neg" seres:elementtype="Tallrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tallrestriksjon/Restriksjon_Desimaltall_12_hel_2_desimal_ikke_neg/612891">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="14" />
      <xsd:fractionDigits value="2" />
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="999999999999.99" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Checkboks01" seres:elementtype="Datakodeliste" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeliste/Checkboks01/593709">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/1/593708" />
      <xsd:enumeration value="0" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/0/593707" />
      <xsd:enumeration value="" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/tom/593706" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Utgaatt" seres:elementtype="Datakodeliste" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeliste/Utgått/612379">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Midlertidlig" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/Midlertidlig/612378" />
      <xsd:enumeration value="Permanent" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/Permanent/612377" />
      <xsd:enumeration value="" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement//612376" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Checkboks" seres:elementtype="Datakodeliste" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeliste/Checkboks/588608">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="true" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/true/588607" />
      <xsd:enumeration value="false" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/false/588606" />
      <xsd:enumeration value="" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement//588605" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_10" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst_10/609461">
    <xsd:restriction base="Tekst_10_Tekst_10Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_10_Tekst_10Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst_10Restriksjon/609459">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_01" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst_01/570056">
    <xsd:restriction base="Tekst_01_Tekst_01Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_01_Tekst_01Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst_01Restriksjon/570055">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>