src/studio/src/designer/DataModeling.Tests/_TestData/Failing/ssb__3983-37382.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xsd:schema targetNamespace="http://seres.no/xsd/StatistiskSentralbyrå/RA-vedlegg_M/2013" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="nb" xmlns="http://seres.no/xsd/StatistiskSentralbyrå/RA-vedlegg_M/2013" xmlns:seres="http://seres.no/xsd/forvaltningsdata" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute name="XSLT-skriptnavn" fixed="SERES_XSD_GEN" />
      <xsd:attribute name="XSD-generatorversjon" fixed="2.0.13" />
      <xsd:attribute name="XSLT-prosessor" fixed="SAXON versjon 9.1.0.7" />
      <xsd:attribute name="generert" fixed="2014-04-09T15:23:29.895+02:00" />
      <xsd:attribute name="navneromprefix" fixed="http://seres.no/xsd" />
      <xsd:attribute name="namespace" fixed="http://seres.no/xsd/StatistiskSentralbyrå/RA-vedlegg_M/2013" />
      <xsd:attribute name="meldingsnavn" fixed="melding" />
      <xsd:attribute name="domenenavn" fixed="StatistiskSentralbyrå" />
      <xsd:attribute name="modellnavn" fixed="RA-vedlegg_M" />
      <xsd:attribute name="metamodellversjon" fixed="1.2" />
      <xsd:attribute name="guid" fixed="true" />
      <xsd:attribute name="orid" fixed="false" />
      <xsd:attribute name="nillable" fixed="true" />
      <xsd:attribute name="tillat-gjenbruk" fixed="true" />
      <xsd:attribute name="elementtype" fixed="true" />
      <xsd:attribute name="forvaltningsdata" fixed="true" />
      <xsd:attribute name="forvaltningsdata-navnerom" fixed="http://seres.no/xsd/forvaltningsdata" />
      <xsd:attribute name="særnorske-bokstaver-i-navn" fixed="false" />
      <xsd:attribute name="ft_guid_som_attributt" fixed="false" />
      <xsd:attribute name="sem-ref" fixed="false" />
      <xsd:attribute name="kodebibliotek" fixed="false" />
      <xsd:attribute name="språk" fixed="nb" />
      <xsd:attribute name="XSD-variant" fixed="Standard" />
    </xsd:documentation>
  </xsd:annotation>
  <xsd:import namespace="http://seres.no/xsd/forvaltningsdata" schemaLocation="seres.xsd" />
  <xsd:attribute name="dataFormatProvider" type="xsd:string" />
  <xsd:attribute name="dataFormatId" type="xsd:string" />
  <xsd:attribute name="dataFormatVersion" type="xsd:string" />
  <xsd:element name="melding" type="RA-vedlegg_M" />
  <xsd:complexType name="RA-vedlegg_M" seres:elementtype="Meldingsmodell" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsmodell/RA-vedlegg_M/489941">
    <xsd:sequence>
      <xsd:element name="InternInformasjon" type="InternInformasjon" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/InternInformasjon/479039" />
      <xsd:element name="KontaktpersonOgKommentarfelt" type="KontaktpersonOgKommentarfelt" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/KontaktpersonOgKommentarfelt/487843" />
      <xsd:element name="ForetakOgVirksomhetsopplysninger" type="ForetakOgVirksomhetsopplysninger" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/ForetakOgVirksomhetsopplysninger/492169" />
      <xsd:element name="OppgavebyrdeVedlegg" type="OppgavebyrdeVedlegg" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/OppgavebyrdeVedlegg/572596" />
      <xsd:element name="Skjemadata" type="Skjemadata" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/Skjemadata/490113" />
    </xsd:sequence>
    <xsd:attribute ref="dataFormatProvider" fixed="SERES" use="required" />
    <xsd:attribute ref="dataFormatId" fixed="3983" use="required" />
    <xsd:attribute ref="dataFormatVersion" fixed="37382" use="required" />
    <xsd:anyAttribute />
  </xsd:complexType>
  <xsd:complexType name="InternInformasjon" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/InternInformasjon/479039" seres:beskrivelse="Når et skjema ligger i meldingsboksen i Altinn er flere av disse opplysningene forhåndsutfylt (preutfylt) fra SSB" seres:dokumentasjon="For at skjema som instansieres via sluttbrukersystem skal oppføre seg som forventet i portalen, må prefill for et skjema hentes via Webservicekall.">
    <xsd:sequence>
      <xsd:element name="periodeFritekst" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/periode/479038" seres:elementtype="Dataegenskap" seres:beskrivelse="Tekst som beskriver perioden for et skjema, f.eks. '1. kvartal 1999', 'januar 1999' eller kun årstallet '1999'. og er vanligvis preutfylt fra SSB." type="Tekst_50" />
      <xsd:element name="rapportPeriode" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/rapportPeriode/479037" seres:elementtype="Dataegenskap" seres:beskrivelse="Er i bruk for enkelte innsendinger som en erstatning for delRegNummer, f.eks.ved direkte innsending til SSB via SFTP." type="Tidsrom" />
      <xsd:element name="raNummer" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/raNummer/479036" seres:elementtype="Dataegenskap" seres:beskrivelse="RA-nummeret identifiserer et skjema (i kombinasjon med delRegNummer) og er vanligvis preutfylt fra SSB." type="Tekst" />
      <xsd:element name="delRegNummer" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/delRegNummer/479035" seres:elementtype="Dataegenskap" seres:beskrivelse="delregisternummeret identifiserer utvalget som er knyttet til abonnementsfilen og er vanligvis preutfylt fra SSB for et gitt skjema og periode." type="Tekst" />
      <xsd:element name="identnummerEnhet" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/enhetsIdentNummer/492113" seres:elementtype="Dataegenskap" seres:beskrivelse="Unikt nummer brukt internt i SSBs mottakssystem" type="Tekst_30" />
      <xsd:element name="sendtFraSluttbrukersystem" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/sendtFraSluttbrukersystem/555500" seres:elementtype="Dataegenskap" seres:beskrivelse="Skal brukes til å fange opp verdien til my:SentFromEUS" type="Tekst_09" />
      <xsd:element name="statistiskEnhet" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/statistiskEnhet/569286" seres:elementtype="Relasjonsegenskap" type="StatistiskEnhet" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Tekst_50" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst50/479312">
    <xsd:restriction base="Tekst_50Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_50Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst_50Restriksjon/502232">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Tidsrom" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakomplekstype/Tidsrom/476091" seres:elementtype="Datakomplekstype">
    <xsd:sequence>
      <xsd:element name="fomDato" minOccurs="0" nillable="true" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/DataTypeegenskap/fomDato/476090" type="Dato" />
      <xsd:element name="tomDato" minOccurs="0" nillable="true" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/DataTypeegenskap/tomDato/476089" type="Dato" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Dato" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Dato/479008">
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst/476104">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_30" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst_30/492116">
    <xsd:restriction base="Tekst_30Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_30Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst_30Restriksjon/502224">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_09" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst_09/566760">
    <xsd:restriction base="Tekst_09Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_09Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst_09Restriksjon/566758">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="9" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="StatistiskEnhet" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/StatistiskEnhet/569285" seres:beskrivelse="Identen f.eks. orgnummer eller fødselsnummer for den statistiske enheten. Hva slags opplysning som ligger her kan man se av dataegenskapen enhetstype." seres:dokumentasjon="Gir bedre søkbarhet for enhetene i datamottaket hos SSB.">
    <xsd:sequence>
      <xsd:element name="enhetsident" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/enhetsident/569284" seres:elementtype="Dataegenskap" type="Tekst_50" />
      <xsd:element name="enhetstype" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/enhetstype/569283" seres:elementtype="Dataegenskap" type="StatistiskeEnhetstyper" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="StatistiskeEnhetstyper" seres:elementtype="Datakodeliste" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeutvalg/StatistiskeEnhetstyper/492035">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="ADRE" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/ADRE/502300" />
      <xsd:enumeration value="BEDR" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/BEDR/502296" />
      <xsd:enumeration value="BOLI" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/BOLI/502295" />
      <xsd:enumeration value="BYGG" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/BYGG/502294" />
      <xsd:enumeration value="FRTK" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/FRTK/502291" />
      <xsd:enumeration value="HUSH" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/HUSH/502289" />
      <xsd:enumeration value="PERS" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/PERS/502283" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="KontaktpersonOgKommentarfelt" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/KontaktpersonOgKommentarfelt/487843">
    <xsd:sequence>
      <xsd:element name="kommentar" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/kommentar/487842" seres:elementtype="Dataegenskap" type="Kommentar" />
      <xsd:element name="kontaktperson" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/kontaktperson/487841" seres:elementtype="Relasjonsegenskap" type="Kontaktperson" />
      <xsd:element name="spesialadresse" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/spesialadresse/567201" seres:elementtype="Relasjonsegenskap" seres:dokumentasjon="Spesialadresse vises kun dersom spesialadresse er preutfylt fra SFU og ikke er blank. kun noen få undersøkelser bruker spesialadresse." type="Spesialadresse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Kommentar" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Kommentar/4721">
    <xsd:restriction base="Kommentar2000Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Kommentar2000Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Kommentar2000Restriksjon/502246">
    <xsd:restriction base="xsd:token">
      <xsd:minLength value="1" />
      <xsd:maxLength value="2000" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Kontaktperson" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/Kontaktperson/476088">
    <xsd:sequence>
      <xsd:element name="epostadresse" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/epostadresse/476085" seres:elementtype="Dataegenskap" type="Epost" />
      <xsd:element name="navn" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/navn/489943" seres:elementtype="Dataegenskap" type="NavnSomToken" />
      <xsd:element name="telefonSFU" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/telefonSFU/566757" seres:elementtype="Dataegenskap" seres:beskrivelse="Tekstfelt som tåler de sammensatte telefonnumrene fra SFU som prefill" type="Tekst_25" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Epost" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Epost/476105">
    <xsd:restriction base="EPostRestriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="EPostRestriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/EPostRestriksjon/502244">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NavnSomToken" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/NavnSomToken/488179">
    <xsd:restriction base="xsd:token" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_25" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst_25/566761">
    <xsd:restriction base="Tekst_25Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst_25Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst_25Restriksjon/566759">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="25" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Spesialadresse" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/Spesialadresse/567200" seres:beskrivelse="Spesialadresse brukes i noen tilfeller der brev sendes til andre enn foretakets egen adresse. Adressen kan ha tidsbegrensning i SFU, derfor er datofelt med.">
    <xsd:sequence>
      <xsd:element name="spesNavn" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/spesNavn/567199" seres:elementtype="Dataegenskap" type="Tekst100" />
      <xsd:element name="spesKontaktperson" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/spesKontaktperson/567198" seres:elementtype="Dataegenskap" type="Tekst100" />
      <xsd:element name="spesAvdeling" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/spesAvdeling/567197" seres:elementtype="Dataegenskap" type="Tekst100" />
      <xsd:element name="spesAdresse" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/spesAdresse/567196" seres:elementtype="Dataegenskap" type="Tekst105" />
      <xsd:element name="spesPostnummer" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/spesPostnummer/567195" seres:elementtype="Dataegenskap" type="Tekst_09" />
      <xsd:element name="spesPoststed" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/spesPoststed/567194" seres:elementtype="Dataegenskap" type="Tekst_50" />
      <xsd:element name="spesialadresseFom" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/spesialadresseFom/567193" seres:elementtype="Dataegenskap" type="Dato" />
      <xsd:element name="spesialadresseTom" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/spesialadresseTom/567192" seres:elementtype="Dataegenskap" type="Dato" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Tekst100" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst100/479311">
    <xsd:restriction base="Tekst100Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst100Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst100Restriksjon/502231">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst105" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst105/567203">
    <xsd:restriction base="Tekst105Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst105Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst105Restriksjon/567202">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="105" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ForetakOgVirksomhetsopplysninger" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/ForetakOgVirksomhetsopplysninger/492169" seres:beskrivelse="Inneholder organisasjonsnummer og adresseopplysninger på foretaks og virksomhetsnivå." seres:dokumentasjon="Feltene blir delvis preutfylt fra SSB og delvis i portalen via preutfylling fra Enhetsregisteret.">
    <xsd:sequence>
      <xsd:element name="organisasjonsnummerKontekst" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/organisasjonsnummerKontekst/492166" seres:elementtype="Dataegenskap" seres:beskrivelse="Feltet skal ta vare på det orgnummeret man representerer i portalen, f.eks. om man logger seg på virksomheten eller foretaket." type="Organisasjonsnummer" />
      <xsd:element name="foretak" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/foretak/492168" seres:elementtype="Relasjonsegenskap" type="Foretak" />
      <xsd:element name="virksomhet" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/virksomhet/492167" seres:elementtype="Relasjonsegenskap" type="Virksomhet" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Organisasjonsnummer" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Organisasjonsnummer/476107">
    <xsd:restriction base="OrganisasjonsnummerRestriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="OrganisasjonsnummerRestriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/OrganisasjonsnummerRestriksjon/502234">
    <xsd:restriction base="xsd:string" seres:beskrivelse="MOD 11 gir siste siffer i orgnr">
      <xsd:length value="9" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Foretak" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/Foretak/492157" seres:beskrivelse="Som regel tilsvarer denne juridisk enhet, men den kan ha både et snevrere og videre omfang">
    <xsd:sequence>
      <xsd:element name="organisasjonsnummerForetak" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/organisasjonsnummerForetak/492156" seres:elementtype="Dataegenskap" type="Organisasjonsnummer" />
      <xsd:element name="navnForetak" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/navnForetak/492155" seres:elementtype="Dataegenskap" type="Tekst" />
      <xsd:element name="adresseForetak" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/postadresseForetak/492453" seres:elementtype="Dataegenskap" type="Besoeksadresse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Besoeksadresse" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakomplekstype/Besøksadresse/486194" seres:elementtype="Datakomplekstype">
    <xsd:sequence>
      <xsd:element name="gateadresse" minOccurs="0" nillable="true" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/DataTypeegenskap/gateadresse/486193" type="Tekst200" />
      <xsd:element name="postnummer" minOccurs="0" nillable="true" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/DataTypeegenskap/postnummer/486192" type="Postnummer" />
      <xsd:element name="poststed" minOccurs="0" nillable="true" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/DataTypeegenskap/poststed/486191" type="Tekst100" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Tekst200" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Tekst200/491779">
    <xsd:restriction base="Tekst200Restriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst200Restriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/Tekst200Restriksjon/502227">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Postnummer" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Postnummer/4733">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
  <xsd:complexType name="Virksomhet" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/Virksomhet/492153" seres:beskrivelse="I Samordnet registermelding er begrepet virksomhet brukt for å skille mellom opplysninger som gjelder den juridiske enheten (foretaket) og opplysninger om den virksomhet (bedrift) som utøves. Av samme grunn bør SSB i størst mulig grad bruke begrepet virksomhet utad istedenfor bedrift.">
    <xsd:sequence>
      <xsd:element name="organisasjonsnummerVirksomhet" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/organisasjonsnummerVirksomhet/492152" seres:elementtype="Dataegenskap" type="Organisasjonsnummer" />
      <xsd:element name="navnVirksomhet" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/navnVirksomhet/492151" seres:elementtype="Dataegenskap" type="NavnString" />
      <xsd:element name="adresseVirksomhet" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/forretningsadresseVirksomhet/492452" seres:elementtype="Dataegenskap" type="Besoeksadresse" />
      <xsd:element name="avdeling" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/avdeling/492150" seres:elementtype="Dataegenskap" type="NavnString" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="NavnString" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/Navn/4722">
    <xsd:restriction base="NavnRestriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="NavnRestriksjon" seres:elementtype="Tegnrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tegnrestriksjon/NavnRestriksjon/502238">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="OppgavebyrdeVedlegg" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/OppgavebyrdeVedlegg/572596" seres:beskrivelse="vedleggsskjema skal kunne ha egne opgavebyrdespørsmål med spørsmål om hvor lang tid arbeidet med vedlegget tok" seres:dokumentasjon="Sluttbrukersystem skal aldri måtte fylle ut disse verdiene.">
    <xsd:sequence>
      <xsd:element name="visOppgavebyrdeVedleggPrefill" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/visOppgavebyrdeJaNeiPrefill/572589" seres:elementtype="Dataegenskap" type="SvaralternativJaNei" />
      <xsd:element name="harSamletInfoVedlegg" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/harSamletInformasjon/572593" seres:elementtype="Dataegenskap" type="SvaralternativJaNei" />
      <xsd:element name="samletVedleggsinfo" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/samletVedleggsinfo/572614" seres:elementtype="Relasjonsegenskap" type="SamletVedleggsinfo" />
      <xsd:element name="spoersmaalOmVedlegg" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/spørsmålOmVedlegg/572602" seres:elementtype="Relasjonsegenskap" type="SpoersmaalOmVedlegg" />
      <xsd:element name="tilleggsspoersmaalUtenomVedlegg" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/tilleggsspørsmålUtenomVedlegg/572601" seres:elementtype="Relasjonsegenskap" type="TilleggsspoersmaalUtenomVedlegg" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="SvaralternativJaNei" seres:elementtype="Datakodeliste" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeutvalg/Svaralternativ/13653">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/1/502310" />
      <xsd:enumeration value="2" seres:elementtype="Datakodeelement" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakodeelement/2/502311" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="SamletVedleggsinfo" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/SamletVedleggsinfo/572613">
    <xsd:sequence>
      <xsd:element name="tidsbrukSamleInfoVedlegg" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/tidsbrukSamleInfoVedlegg/572612" seres:elementtype="Dataegenskap" type="Tidsbruk" />
      <xsd:element name="fikkHjelpAvAndreVedlegg" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/fikkHjelpAvAndreVedlegg/572611" seres:elementtype="Dataegenskap" type="SvaralternativJaNei" />
      <xsd:element name="hjelpAvAndreVedlegg" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/hjelpAvAndreVedlegg/572610" seres:elementtype="Relasjonsegenskap" type="HjelpAvAndreVedlegg" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tidsbruk" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Datakomplekstype/Tidsbruk/487647" seres:elementtype="Datakomplekstype">
    <xsd:sequence>
      <xsd:element name="AntallTimer" minOccurs="0" nillable="true" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/DataTypeegenskap/AntallTimer/487646" type="AntallMedNull" />
      <xsd:element name="AntallMinutter" minOccurs="0" nillable="true" seres:elementtype="DataTypeegenskap" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/DataTypeegenskap/AntallMinutter/487645" type="AntallMedNull" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="AntallMedNull" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/AntallMedNull/477092">
    <xsd:restriction base="AntallRestriksjon" />
  </xsd:simpleType>
  <xsd:simpleType name="AntallRestriksjon" seres:elementtype="Tallrestriksjon" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Tallrestriksjon/AntallRestriksjon/502249">
    <xsd:restriction base="xsd:nonNegativeInteger" />
  </xsd:simpleType>
  <xsd:complexType name="HjelpAvAndreVedlegg" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/HjelpAvAndreVedlegg/572609">
    <xsd:sequence>
      <xsd:element name="antallPersonerHjelpVedlegg" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/antallPersonerHjelpVedlegg/572608" seres:elementtype="Dataegenskap" type="AntallMedNull" />
      <xsd:element name="tidsbrukTotalHjelpVedlegg" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/tidsbrukTotalHjelpVedlegg/572607" seres:elementtype="Dataegenskap" type="Tidsbruk" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SpoersmaalOmVedlegg" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/SpørsmålOmVedlegg/572600">
    <xsd:sequence>
      <xsd:element name="tidsbrukSvareVedlegg" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/tidsbrukSvareVedlegg/572599" seres:elementtype="Dataegenskap" type="Tidsbruk" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TilleggsspoersmaalUtenomVedlegg" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/TilleggsspørsmålUtenomVedlegg/572598">
    <xsd:sequence>
      <xsd:element name="tidsbrukSelveSkjemautfyllingen" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/tidsbrukSelveSkjemautfyllingen/572597" seres:elementtype="Dataegenskap" type="Tidsbruk" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Skjemadata" seres:elementtype="Meldingsdel" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Meldingsdel/Skjemadata/490113">
    <xsd:sequence>
      <xsd:element name="lenkeTilExcelmal" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/lenkeTilExcelmal/490112" seres:elementtype="Dataegenskap" type="LenkeWeb" />
      <xsd:element name="lenkeTilFlatfilmal" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/lenkeTilFlatfilmal/490111" seres:elementtype="Dataegenskap" type="LenkeWeb" />
      <xsd:element name="lenkeTilXMLmal" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/lenkeTilXMLmal/490110" seres:elementtype="Dataegenskap" type="LenkeWeb" />
      <xsd:element name="prefillTekster" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Relasjonsegenskap/prefillTekster/572603" seres:elementtype="Relasjonsegenskap" type="PrefillTekster" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="LenkeWeb" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/LenkeWeb/490115">
    <xsd:restriction base="xsd:anyURI" />
  </xsd:simpleType>
  <xsd:complexType name="PrefillTekster" seres:elementtype="Dataobjekttype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataobjekttype/PrefillTekster/568944">
    <xsd:sequence>
      <xsd:element name="skjemanavnTekst" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/skjemanavnTekst/568943" seres:elementtype="Dataegenskap" type="TokenTekst" />
      <xsd:element name="innledningsTekst" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/innledningsTekst/568942" seres:elementtype="Dataegenskap" type="TokenTekst" />
      <xsd:element name="Tekst1" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/Tekst1/568941" seres:elementtype="Dataegenskap" type="TokenTekst" />
      <xsd:element name="Tekst2" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/Tekst2/568940" seres:elementtype="Dataegenskap" type="TokenTekst" />
      <xsd:element name="Tekst3" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/Tekst3/568939" seres:elementtype="Dataegenskap" type="TokenTekst" />
      <xsd:element name="Tekst4" minOccurs="0" nillable="true" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataegenskap/Tekst4/568938" seres:elementtype="Dataegenskap" type="TokenTekst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="TokenTekst" seres:elementtype="Dataenkeltype" seres:guid="http://seres.no/guid/StatistiskSentralbyrå/Dataenkeltype/TokenTekst/486190">
    <xsd:restriction base="xsd:token" />
  </xsd:simpleType>
</xsd:schema>